name: "Sound Analyzer and trigger based Recorder"
slug: "wp_audio_trigger"
description: "MQTT based configurable sound analyzer and event recorder"
version: "1.89.2"
url: "https://github.com/granmeloco/ha-audio-analyzer-add-on"
arch: [aarch64, armv7, armhf, amd64]
startup: services
init: false
audio: true
map:
  - media:rw
homeassistant_api: true
hassio_api: true
hassio_role: admin
ingress: true
ingress_port: 8099
panel_icon: mdi:waveform
ports:
  8099/tcp: 8099
ports_description:
  8099/tcp: Web UI and API access

options:
  mqtt_host: "core-mosquitto"
  mqtt_port: 1883
  mqtt_user: ""
  mqtt_password: ""
  topic_base: "wp_audio"
  samplerate: 48000
  device: "pulse"
  calibration_file: "/data/calibration.json"
  ui_port: 8099
  pulse_source: "alsa_input.usb-BEHRINGER_UMC202HD_192k-00.HiFi__Mic1__source"
  pulse_volume: 100

  # List of selected sensors to record
  # (no default value)

schema:
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_password: str
  topic_base: str
  samplerate: int
  device: str
  calibration_file: str
  ui_port: int
  pulse_source: str
  pulse_volume: int

  # List of selected sensors to record
  selected_sensors: list(str)

