name: "Sound Analyzer and trigger based Recorder"
slug: "wp_audio_trigger"
description: "MQTT based configurable sound analyzer and event recorder"
version: "1.0.92"
url: "https://github.com/granmeloco/ha-audio-analyzer-add-on"
arch: [aarch64, armv7, armhf, amd64]
startup: services
init: false
audio: true
map:
  - media:rw
homeassistant_api: true
hassio_api: true
hassio_role: admin
ingress: true
ingress_port: 8099
panel_icon: mdi:waveform
ports:
  8099/tcp: 8099
ports_description:
  8099/tcp: Web UI and API access

schema:
  mqtt_host: str
  mqtt_port: int
  mqtt_user: str
  mqtt_password: str
  topic_base: str
  samplerate: int
  device: str
  calibration_file: str
  ui_port: int
  pulse_source: str
  pulse_volume: int

  # List of selected sensors to record
  selected_sensors: list(str)

